version: '3'
services:
  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: mydb
    ports:
      - "5432:5432"
  backend:
    build: ./server
    restart: always
    environment:
      PORT: 3001
      PGHOST: db
      PGUSER: user
      PGPASSWORD: password
      PGDATABASE: mydb
    ports:
      - "3001:3001"
    depends_on:
      - db
  frontend:
    build: ./client
    restart: always
    ports:
      - "3000:80"
    depends_on:
      - backend
